h5 {
  font-size: 15px;
  margin-bottom: 10px;
}
h6 {
  font-size: 13px;
  margin-bottom: 10px;
}

.foodStore {
  width: 278px;
}
.refrigerator{
  width: 320px;
}
.refrigerator .tabs{

  margin-top: 11px;
}
.refrigerator .tabs .tabList .itemsContainer{
  box-shadow: none;
  padding: 0;
}
article .itemsContainer .itemsContainerWrapper .foodItem{
  height: 190px !important;
}
.plusFood{
  width: 107px;
  margin: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: inset -1px -1px grey, inset 1px 1px #dfdfdf;
  height: 182px;
  padding-bottom: 8px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAsSURBVDhPYxgFQwP8h9J4AROUpgoYvIYxQml0QEwY4dJLEIxGwCgYJICBAQCpywMMJcVE0AAAAABJRU5ErkJggg==) no-repeat center center;
    background-size: 38px;
}


.itemsContainer {
  box-shadow: inset 1px 1px grey, inset -1px -1px #dfdfdf;

  background: silver;
  padding: 8px;
  height: 220px;

  overflow-y: scroll;

  width: 262px;
}
.foodItem {
  width: 107px;
  height: 195px;
  margin: 8px;
  box-shadow: inset -1px -1px grey, inset 1px 1px #dfdfdf;
}
.foodImg {
  width: 107px;
  height: 107px;
  background: grey;
  background: url(https://i.pinimg.com/originals/08/ce/4a/08ce4ab4433425c2b09f5cb1c9f24830.png)
    no-repeat center center;
  background-size: cover;
}

.foodHeader {
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 4px;
  padding-right: 8px;

  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.foodText {
  padding-top: 4px;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-right: 8px;

  margin: 0;
}
.foodItemNum {
  width: 33px;
  text-align: center;
  margin-bottom: 0;
}
.eatButton{
 margin: 0 8px;
 width: calc(100% - 16px);
}

.plusButton,
.minusButton {
  min-width: 23px;
  max-width: 23px;

  padding: 0;

  width: 23px;
  height: 23px;
}
.plusButton {
  background: url(images/plus.png) no-repeat center center;
  background-size: 19px;
}
.minusButton {
  background: url(images/minus.png) no-repeat center center;
  background-size: 19px;
}

.plusButton:active,
.minusButton:active {
  padding: 0 !important;
}

.foodCounter {
  margin: 8px;
  margin-top: 5px;
}

.itemsContainerWrapper {
  display: flex;
  flex-wrap: wrap;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.total h5 {
  margin: 0;
  display: flex;
  margin-right: auto;
}
.cost::after {
  content: "$";
  font-weight: 300;
}
